'.source.swift':
  'editor':
    'commentStart': '// '
    'foldEndPattern': '^\\s*\\}|^\\s*\\]|^\\s*\\)'
    'increaseIndentPattern': '(?x) (?!^\\s*\\/\\/) (
          \\{     [^\\}"\']*                (//.*)?    $
      |   \\(     [^\\{\\)\\}"\']*          (//.*)?    $
      |   \\[     [^\\(\\{\\)\\]\\}"\']*    (//.*)?    $
      | ^ \\s*  case\\b
      | ^ \\s*  default\\b
      )'
    'decreaseIndentPattern': '(?x) (?!^\\s*\\/\\/) (
        ^  [^\\{"\']*                 \\}
      | ^  [^\\(\\{\\}"\']*           \\)
      | ^  [^\\(\\[\\{\\}\\)"\']*     \\]
      | ^  \\s* case\\b
      | ^  \\s* default\\b
      )'
